In [28]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Desktop\numpy\multiTimeline.csv')
df

,Week,paneer tikka: (India),noodles: (India),fried rice: (India),dosa: (India),idli: (India)
0,2019-02-17,7,19,11,41,30
1,2019-02-24,6,18,11,38,27
2,2019-03-03,8,17,12,37,27
3,2019-03-10,7,18,12,40,27
4,2019-03-17,7,19,12,39,29
...,...,...,...,...,...,...
255,2024-01-07,7,34,12,45,30
256,2024-01-14,7,32,10,42,30
257,2024-01-21,6,32,11,42,28
258,2024-01-28,6,30,11,46,30
259,2024-02-04,7,30,11,43,31

In [29]:
df['Week'] = pd.to_datetime(df['Week'])
df

,Week,paneer tikka: (India),noodles: (India),fried rice: (India),dosa: (India),idli: (India)
0,2019-02-17,7,19,11,41,30
1,2019-02-24,6,18,11,38,27
2,2019-03-03,8,17,12,37,27
3,2019-03-10,7,18,12,40,27
4,2019-03-17,7,19,12,39,29
...,...,...,...,...,...,...
255,2024-01-07,7,34,12,45,30
256,2024-01-14,7,32,10,42,30
257,2024-01-21,6,32,11,42,28
258,2024-01-28,6,30,11,46,30
259,2024-02-04,7,30,11,43,31

In [30]:
df.set_index('Week', inplace=True)

In [31]:
# Resample to different time frequencies
# Up sampling with forward fill (FFill)
df_upsampled = df.resample('D').ffill()

In [32]:
# Print the results
print("Upsampled with Forward Fill:")
print(df_upsampled.head())

Upsampled with Forward Fill:
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                      7                19                   11
2019-02-18                      7                19                   11
2019-02-19                      7                19                   11
2019-02-20                      7                19                   11
2019-02-21                      7                19                   11

            dosa: (India)  idli: (India)
Week
2019-02-17             41             30
2019-02-18             41             30
2019-02-19             41             30
2019-02-20             41             30
2019-02-21             41             30

In [33]:
# Down sampling with OHLC sampling
df_downsampled = df.resample('M').ohlc()

In [34]:

print("\nDownsampled with OHLC Sampling:")
print(df_downsampled.head())

Downsampled with OHLC Sampling:
           paneer tikka: (India)                noodles: (India)           \
                            open high low close             open high low
Week
2019-02-28                     7    7   6     6               19   19  18
2019-03-31                     8    8   6     7               17   19  17
2019-04-30                     7    7   7     7               18   18  17
2019-05-31                     7    7   6     6               19   20  18
2019-06-30                     7    7   6     7               19   21  19

                 fried rice: (India)                dosa: (India)           \
           close                open high low close          open high low
Week
2019-02-28    18                  11   11  11    11            41   41  38
2019-03-31    18                  12   12  10    10            37   40  36
2019-04-30    17                  11   12  11    11            38   38  35
2019-05-31    19                  11   12  11    12            35   38  35
2019-06-30    20                  12   13  12    12            40   42  39

                 idli: (India)
           close          open high low close
Week
2019-02-28    38            30   30  27    27
2019-03-31    36            27   32  27    29
2019-04-30    37            27   30  26    26
2019-05-31    37            29   29  27    29
2019-06-30    42            29   30  28    30

In [35]:
# Shift time series forward and backward
# Naive shift
df_shifted_forward = df.shift(1)
df_shifted_backward = df.shift(-1)

In [36]:
print("\nShifted Time Series (Naive - Forward):")
print(df_shifted_forward.head())

Shifted Time Series (Naive - Forward):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                    NaN               NaN                  NaN
2019-02-24                    7.0              19.0                 11.0
2019-03-03                    6.0              18.0                 11.0
2019-03-10                    8.0              17.0                 12.0
2019-03-17                    7.0              18.0                 12.0

            dosa: (India)  idli: (India)
Week
2019-02-17            NaN            NaN
2019-02-24           41.0           30.0
2019-03-03           38.0           27.0
2019-03-10           37.0           27.0
2019-03-17           40.0           27.0

In [37]:

print("\nShifted Time Series (Naive - Backward):")
print(df_shifted_backward.head())

Shifted Time Series (Naive - Backward):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                    6.0              18.0                 11.0
2019-02-24                    8.0              17.0                 12.0
2019-03-03                    7.0              18.0                 12.0
2019-03-10                    7.0              19.0                 12.0
2019-03-17                    6.0              17.0                 12.0

            dosa: (India)  idli: (India)
Week
2019-02-17           38.0           27.0
2019-02-24           37.0           27.0
2019-03-03           40.0           27.0
2019-03-10           39.0           29.0
2019-03-17           40.0           32.0

In [39]:
# Shift using frequency
df_shifted_freq_forward = df.shift(freq='D')
print("\nShifted Time Series (Frequency - Forward):")
print(df_shifted_freq_forward.head())

Shifted Time Series (Frequency - Forward):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-18                      7                19                   11
2019-02-25                      6                18                   11
2019-03-04                      8                17                   12
2019-03-11                      7                18                   12
2019-03-18                      7                19                   12

            dosa: (India)  idli: (India)
Week
2019-02-18             41             30
2019-02-25             38             27
2019-03-04             37             27
2019-03-11             40             27
2019-03-18             39             29

In [40]:
df_shifted_freq_backward = df.shift(freq='-D')
print("\nShifted Time Series (Frequency - Backward):")
print(df_shifted_freq_backward.head())

ValueError: Invalid frequency: -D

In [41]:
# Compute moving averages or rolling sums
rolling_mean_7 = df.rolling(window=7).mean()
print("\nRolling Mean (7-day Window):")
print(rolling_mean_7.head())

Rolling Mean (7-day Window):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                    NaN               NaN                  NaN
2019-02-24                    NaN               NaN                  NaN
2019-03-03                    NaN               NaN                  NaN
2019-03-10                    NaN               NaN                  NaN
2019-03-17                    NaN               NaN                  NaN

            dosa: (India)  idli: (India)
Week
2019-02-17            NaN            NaN
2019-02-24            NaN            NaN
2019-03-03            NaN            NaN
2019-03-10            NaN            NaN
2019-03-17            NaN            NaN

In [42]:
rolling_sum_7 = df.rolling(window=7).sum()
print("\nRolling Sum (7-day Window):")
print(rolling_sum_7.head())

Rolling Sum (7-day Window):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                    NaN               NaN                  NaN
2019-02-24                    NaN               NaN                  NaN
2019-03-03                    NaN               NaN                  NaN
2019-03-10                    NaN               NaN                  NaN
2019-03-17                    NaN               NaN                  NaN

            dosa: (India)  idli: (India)
Week
2019-02-17            NaN            NaN
2019-02-24            NaN            NaN
2019-03-03            NaN            NaN
2019-03-10            NaN            NaN
2019-03-17            NaN            NaN

In [43]:
rolling_mean_30 = df.rolling(window=30).mean()
print("\nRolling Mean (30-day Window):")
print(rolling_mean_30.head())

Rolling Mean (30-day Window):
            paneer tikka: (India)  noodles: (India)  fried rice: (India)  \
Week
2019-02-17                    NaN               NaN                  NaN
2019-02-24                    NaN               NaN                  NaN
2019-03-03                    NaN               NaN                  NaN
2019-03-10                    NaN               NaN                  NaN
2019-03-17                    NaN               NaN                  NaN

            dosa: (India)  idli: (India)
Week
2019-02-17            NaN            NaN
2019-02-24            NaN            NaN
2019-03-03            NaN            NaN
2019-03-10            NaN            NaN
2019-03-17            NaN            NaN